table {
	width: 100%;
	display: table;
}

table td{
	white-space: nowrap;
}

table td:last-child{
	width:100%;
}

table tr.even {
    background: #f2f2f2;
}
table tr.odd {
    background: #eeeeee;
}

thead tr {
	background: #006DCC !important;
	color: white !important;
}

